/Descriptive statistics in R - Stats and R.pdf
/FILE LATIHAN 1 DSAREA.xlsx
/file latihan 2 PEMBAHASAN LENGKAP.xlsx
/File Latihan 2.xlsx
/FILE LATIHAN 3 TERBARU IF DAN MULTI IF-1.xlsx
/format_tanya_discord.txt
/library(arules).txt
/pembahasan LATIHAN 1.xlsx
/python
/R
/Sample - Superstore.xls